Ignore Intellij project files
*.iml
.idea/

# XTend Ignore Files
bin
.DS_Store
target
*.xtendbin
*.java._trace
*.java_trace
xtend-gen/

# Ignore specific eclipse project files
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse core
#.project

# Eclipse launch configurations
*.launch
#.classpath

# gwt caches and compiled units #
gwt-unitCache/
war/mdeo_status_dashboard_1_0/
war/WEB-INF/deploy/
*.gwt.rpc

gen/
profiler/
