# Travis CI build file

language: java

install: ant deps

cache:
     directories:
        - $HOME/.m2

jdk:
  - oraclejdk11

services:
    - xvfb

before_script:
    - cd build/ant
    - pwd
    - "export DISPLAY=:99.0"

script:
    # This bypasses an issue on the travis CI platform where a connection is made through a proxy and
    # the mirror redirection is not handled correctly by one of the parties.
    - ant

after_success:
    - cd ../ # Move back to the build directory
    - bash publish-artifacts.sh
#    - bash ../publish-website.sh
