# Travis CI build file

language: java

cache:
     directories:
        - $HOME/.m2

env:
    global:
        - ENCRYPTION_LABEL: "7b637816f1d8"

jdk:
  - oraclejdk8

before_install:
  - wget https://archive.apache.org/dist/maven/maven-3/3.3.9/binaries/apache-maven-3.3.9-bin.zip
  - unzip -qq apache-maven-3.3.9-bin.zip
  - export M2_HOME=$PWD/apache-maven-3.3.9
  - export PATH=$M2_HOME/bin:$PATH

before_script: 
    - cd src
    - pwd
    - "export DISPLAY=:99.0"
    - "sh -e /etc/init.d/xvfb start"
    - sleep 3 # give xvfb some time to start

script:
    # This bypasses an issue on the travis CI platform where a connection is made through a proxy and
    # the mirror redirection is not handled correctly by one of the parties.
    - mvn --version
    - mvn clean install -Dmaven.wagon.http.ssl.insecure=true -Dmaven.wagon.http.ssl.allowall=true -Dmaven.wagon.http.ssl.ignore.validity.dates=true

after_success:
    - bash ../deploy/publish-artifacts.sh

