<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="uk.ac.kcl.mdeoptimise.target" sequenceNumber="22">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.emf.mwe2.launcher.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/modeling/emft/mwe/updates/releases/2.8.1/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
<unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
<unit id="org.eclipse.draw2d.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xpand" version="0.0.0"/>
<unit id="org.eclipse.xtend" version="0.0.0"/>
<unit id="org.eclipse.xtend.typesystem.emf" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/neon/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.ocl.examples.unified.feature.group" version="4.1.1.v20160808-1615"/>
<unit id="org.eclipse.ocl.examples.classic.feature.group" version="5.2.1.v20160808-1416"/>
<unit id="org.eclipse.ocl.master.feature.group" version="6.1.1.v20160808-1615"/>
<unit id="org.eclipse.ocl.examples.feature.group" version="6.1.1.v20160808-1615"/>
<repository location="http://download.eclipse.org/modeling/mdt/ocl/updates/releases/6.1.1/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.10.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.ocl.master.feature.group" version="6.1.1.v20160808-1615"/>
<repository location="http://download.eclipse.org/modeling/mdt/ocl/updates/releases/6.1.1/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.emf.henshin.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.henshin.sdk.source.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/modeling/emft/henshin/updates/nightly"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="com.github.mifmif.generex" version="1.0.2"/>
<unit id="org.apache.commons.cli" version="1.2.0"/>
<unit id="org.apache.commons.math3" version="3.4.1"/>
<unit id="org.apache.commons.lang3" version="3.1.0"/>
<unit id="dk.brics.automaton" version="1.11.0.8"/>
<unit id="org.jfree.jcommon" version="1.0.21"/>
<unit id="org.moeaframework" version="2.12.0"/>
<unit id="org.mockito.mockito-all" version="1.9.5"/>
<unit id="org.apache.commons.codec" version="1.8.0"/>
<unit id="xml-apis" version="1.3.4"/>
<unit id="io.netty.buffer" version="4.1.16.Final"/>
<unit id="org.apache.geronimo.specs.geronimo-jms_2.0_spec" version="1.0.0.alpha-2"/>
<unit id="slf4j.api" version="1.7.25"/>
<unit id="org.apache.qpid.proton-j" version="0.23.0"/>
<unit id="io.netty.codec" version="4.1.16.Final"/>
<unit id="io.netty.codec-http" version="4.1.16.Final"/>
<unit id="io.netty.common" version="4.1.16.Final"/>
<unit id="io.netty.handler" version="4.1.16.Final"/>
<unit id="io.netty.resolver" version="4.1.16.Final"/>
<unit id="io.netty.transport" version="4.1.16.Final"/>
<unit id="io.netty.transport-native-epoll" version="4.1.16.Final"/>
<unit id="io.netty.transport-native-kqueue" version="4.1.16.Final"/>
<unit id="io.netty.transport-native-unix-common" version="4.1.16.Final"/>
<unit id="org.json" version="20140107.0.0"/>
<unit id="org.apache.qpid.jms.client" version="0.27.0"/>
<repository location="http://blog.onboot.org/mopt-p2-repo/target/repository/"/>
</location>
</locations>
</target>
