<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="uk.ac.kcl.mdeoptimise.target" sequenceNumber="21">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.emf.mwe2.launcher.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/modeling/emft/mwe/updates/releases/2.9.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
<unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
<unit id="org.eclipse.draw2d.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xpand" version="0.0.0"/>
<unit id="org.eclipse.xtend" version="0.0.0"/>
<unit id="org.eclipse.xtend.typesystem.emf" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/neon/201606221000/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.ocl.examples.unified.feature.group" version="4.1.1.v20160808-1615"/>
<unit id="org.eclipse.ocl.examples.classic.feature.group" version="5.2.1.v20160808-1416"/>
<unit id="org.eclipse.ocl.master.feature.group" version="6.1.1.v20160808-1615"/>
<unit id="org.eclipse.ocl.examples.feature.group" version="6.1.1.v20160808-1615"/>
<repository location="http://download.eclipse.org/modeling/mdt/ocl/updates/releases/6.1.1/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.12.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.ocl.master.feature.group" version="6.1.1.v20160808-1615"/>
<repository location="http://download.eclipse.org/modeling/mdt/ocl/updates/releases/6.1.1/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.emf.henshin.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.henshin.sdk.source.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/modeling/emft/henshin/updates/nightly"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="com.github.mifmif.generex" version="1.0.2"/>
<unit id="org.apache.commons.cli" version="1.2.0"/>
<unit id="org.apache.commons.math3" version="3.4.1"/>
<unit id="org.apache.commons.lang3" version="3.1.0"/>
<unit id="dk.brics.automaton" version="1.11.0.8"/>
<unit id="org.jfree.jcommon" version="1.0.21"/>
<unit id="org.jfree.chart" version="1.0.15"/>
<unit id="org.moeaframework" version="2.12.0"/>
<unit id="org.apache.commons.codec" version="1.8.0"/>
<unit id="xml-apis" version="1.3.4"/>
<repository location="http://blog.onboot.org/mopt-p2-repo/target/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.sidiff.serge" version="0.0.0"/>
<repository location="http://blog.onboot.org/org.sidiff.serge/deploy/serge-p2-repo/target/repository/" />
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
<unit id="org.mockito" version="1.9.5.v201605172210"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20180206163158/repository/"/>
</location>
</locations>
</target>
