<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin
      name="%pluginName"
      id="uk.ac.kcl.inf.mdeoptimiser.examples.problems.stack"
      version="1.0.0"
      provider-name="%providerName">

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.emf.ecore" export="true"/>
   </requires>

   <runtime>
      <library name=".">
         <export name="*"/>
      </library>
   </runtime>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated stack -->
      <package
            uri="http://momot.big.tuwien.ac.at/stack/1.0"
            class="models.stack.ecore.stack.StackPackage"
            genModel="src/main/resources/models/stack/stack.genmodel"/>
   </extension>

</plugin>
