<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin
      name="%pluginName"
      id="uk.ac.kcl.inf.mdeoptimiser.examples.problems.knapsack"
      version="1.0.0"
      provider-name="%providerName">

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.emf.ecore" export="true"/>
   </requires>

   <runtime>
      <library name=".">
         <export name="*"/>
      </library>
   </runtime>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated knapsack -->
      <package
            uri="http://uk.ac.kcl.inf.mdeoptimiser.examples/knapsack/1.0"
            class="models.knapsack.ecore.EcorePackage"
            genModel="src/main/resources/models/knapsack/knapsack.genmodel"/>
   </extension>

</plugin>
